.list-general {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 24px;
    background-color: lightblue;
    width: fit-content;
    padding: 20px 20px 20px 20px;
    list-style-type: none;
}

.header-general {
    font-size: 40px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    background-color: rgb(218, 218, 218);
    width: fit-content;
    padding: 12px;
    border-style: ridge;
    border-width: 12px;
    border-color: rgb(209, 209, 32);
}

body {
    background-color:rgb(1, 161, 81);
}